#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=Restore Group 4
GenericName=Restore Group 4
Icon=view-restore
Exec= sh -c "node /home/yo/code/grop/grop.js restore g4"
Terminal=false
Categories=Application;